{% extends "base-template.html" %}

{% block title %}Adding features{% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Adding features to your website</h1>

            <!-- Table -->
            <h2>Table</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jane</td>
                        <td>30</td>
                    </tr>
                </tbody>
            </table>

            <!-- Dropdown -->
            <h2>Dropdown</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>

            <!-- Button -->
            <h2>Button</h2>
            <button class="btn btn-primary" onclick="alert('Button Clicked!')">Click Me</button>

            
        </div>
    </div>
</div>

{% endblock main %}