{% extends "base-template.html" %}

{% block title %}Index{% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to the Flask Demo</h1>
            <p>Flask is a micro web framework for Python that allows you to build web applications quickly and with minimal overhead. In this demo, we'll explore some of its features and functionality.</p>
            <p>Feel free to navigate through the various sections to learn more about Flask and see it in action.</p>
        </div>
    </div>
</div>
{% endblock main %}
